<header>
  <!-- FLASH MESSAGES -->
  <!--%- messages() %-->

  <h1><a href="/"><%= title %></a></h1>
  <ul>
    <li><a href="/notes">View all Notes</a></li>
    <!--li><a href="/notes/new">Add a new Note.</a></li-->
  </ul>
</header>

<h2><%= page_title %></h2>
